.piano {
  display: flex;
  position: relative;
  /* background-color: aqua; */
}

.octave {
  display: flex;
  position: relative;
  /* background-color: brown; */
  width: 100%;
}

.key {
  position: relative;
  border: 1px solid black;
  border-radius: 0.5rem;
  /* width: 2%; */

  width: 14.28%;
  height: 50vh;
  z-index: 0;
  margin-left: -0.1%;
  margin-right: -0.1%;
}

.key.sharp {
  position: relative;
  /* width: 1.6%; */
  width: 11.42%;
  height: 30vh;
  background: #000;
  color: #eee;
  z-index: 10;
  margin-left: -5.71%;
  margin-right: -5.71%;
}

.hints {
  display: block;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  bottom: 7px;
  /* transition: opacity 0.3s ease-out; */
  font-size: 20px;
}
