.piano {
  display: flex;
  position: relative;
}

.octave {
  display: flex;
  position: relative;
  width: 100%;
}

.key {
  position: relative;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: white;
  width: 14.28%;
  height: 50vh;
  z-index: 0;
  margin-left: -0.2%;
  margin-right: -0.2%;
}

.key.sharp {
  position: relative;
  width: 11.43%;
  height: 30vh;
  background: #000;
  color: #eee;
  z-index: 10;
  margin-left: -5.71%;
  margin-right: -5.71%;
}

.key.middleC {
  position: relative;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: cornsilk;
  width: 14.28%;
  height: 50vh;
  z-index: 0;
  margin-left: -0.1%;
  margin-right: -0.1%;
}

.hints {
  display: block;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  bottom: 7px;
  font-size: 20px;
}

.key.active {
  background-color: #ccc;
}

.key.sharp.active {
  background-color: #333;
}
